a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out; /* Ομαλή αλλαγή χρώματος */
}
a:hover {
  color: #d62300; /* <-- Πιο σκούρο πορτοκαλί για hover */
  text-decoration: underline; /* <-- Υπογράμμιση στο hover */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
